body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.route-map {
  width: 70%;
  height: 100vh;
}

.custom-popup .leaflet-popup-content-wrapper, .custom-popup .leaflet-popup-tip {
  background-color: #eff3ef;
  color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-nav {
  background-color: rgb(73,161,105);
}

.navbar {
  min-height: 100px;
}

a.navbar-brand {
  font-size: 2.5rem;
  color: rgba(0,0,0,.5) !important;
  padding: 0 15px;
  height: 100px;
  line-height: 100px !important;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}