@font-face {
  font-family: 'Architectural';
  src: url('./assets/font/Architectural.eot'); /* IE9 Compat Modes */
  src: url('./assets/font/Architectural.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/font/Architectural.woff') format('woff'), /* Modern Browsers */
       url('./assets/font/Architectural.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.route-map {
  width: 70%;
  height: 100vh;
}

.custom-popup .leaflet-popup-content-wrapper, .custom-popup .leaflet-popup-tip {
  background-color: #eff3ef;
  color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-family: 'Architectural';
}

.navbar {
  min-height: 150px;
}

a.navbar-brand {
  font-size: 5rem;
  color: rgba(0,0,0,.75) !important;
  padding: 0 15px;
  height: 100px;
  line-height: 100px !important;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

a.nav-link {
  color: rgba(0,0,0,.75) !important;
  font-size: 3rem;
  margin-right: 3%;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

a.nav-link:hover {
  text-decoration: underline;
}

.show {
  background-color: rgba(255, 250, 250, 0.6);
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

h1#route-header {
  font-family: 'Architectural';
  text-decoration: underline;
  font-size: 3rem;
}

.trail-details {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

.trails-header {
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}